In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
groups = np.repeat(["fat1", "fat2", "fat3", "fat4"], [6, 6, 6, 6], axis=0)
groups = pd.Series(groups)

In [9]:
fat = pd.read_csv("donutfat.txt", delimiter="\t", header=None)
donut = np.array(fat)
donut = pd.DataFrame(np.c_[groups,donut],columns = ["groups","fat"])

In [10]:
donut

   groups  fat
0    fat1  164
1    fat1  172
2    fat1  168
3    fat1  177
4    fat1  156
5    fat1  195
6    fat2  178
7    fat2  191
8    fat2  197
9    fat2  182
10   fat2  185
11   fat2  177
12   fat3  175
13   fat3  193
14   fat3  178
15   fat3  171
16   fat3  163
17   fat3  176
18   fat4  155
19   fat4  166
20   fat4  149
21   fat4  164
22   fat4  170
23   fat4  168

In [12]:
from scipy.stats import f_oneway

In [13]:
grps = [d['fat'] for _, d in donut.groupby('groups')]
F, p = f_oneway(*grps)
print(F, p)

5.406342913776015 0.0068759477547351

##### Since p-value is 0.00687 < significance level = 0.05, reject H0. It is then concluded that there is significant difference in the fats.