## For Loop

In [6]:
l = [2,5,10,20,54,12,'Vish',20.3,'Pawar']

In [7]:
for i in l:
    print(i, end = '   ')

2   5   10   20   54   12   Vish   20.3   Pawar

In [8]:
# If we don't have mentioned the body part of a loop
for i in l :
    pass 
# it will avoid error.

In [9]:
s = 'Maharashtra'
for i in s:
    print(i,end = '   ')

M   a   h   a   r   a   s   h   t   r   a

In [15]:
for i in l :
    print(i, end = " ")
else :
    print("\n\t'That completes the execution' ")

2 5 10 20 54 12 Vish 20.3 Pawar
	'That completes the execution'

In [12]:
l

[2, 5, 10, 20, 54, 12, 'Vish', 20.3, 'Pawar']

In [14]:
for i in l :
    if i == 12 :
        break
    print(i, end = '   ')
else :
    print("That's it for now.")

2   5   10   20   54

In [23]:
s = 'Vishalpawar'

for i in s :
    if i == 'l' :
        break
    print(i)
else :
    print("Show entire string ",s)

V
i
s
h
a

In [25]:
t = (4,5,6,7,8,1,'Vish')
for i in t :
    print(i, end = '  ')

4  5  6  7  8  1  Vish

In [28]:
set = { 10,10,20,20,30,40,49,55,55, "V", "V", "S", 's' }
type(set)
set

{10, 20, 30, 40, 49, 55, 'S', 'V', 's'}

In [29]:
for i in set :
    print(i, end = '  ' )

S  40  10  V  49  20  55  s  30

In [31]:
d = {'K1':10,'K2':'Vish','K3':'Pawar','K2':'Vishal'}
d

{'K1': 10, 'K2': 'Vishal', 'K3': 'Pawar'}

In [34]:
for i in d :
    print(i,' : ', d[i])

K1  :  10
K2  :  Vishal
K3  :  Pawar

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
for i in range(0,20,2) :
    print(i, end = '   ')

0   2   4   6   8   10   12   14   16   18

In [39]:
# empty list
list(range(0,10,-1))

[]

In [40]:
# 0 is upper bound, movement in same direction
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("Vish", end = '   ')
    print("\n")

Vish

Vish   Vish

Vish   Vish   Vish

Vish   Vish   Vish   Vish

In [10]:
n = 5
for i in range(5) :
    for j in range(0,i+1) :
        print("**", end = ' ')
    print("\n")

**

** **

** ** **

** ** ** **

** ** ** ** **

In [17]:
n = 3
for i in range(3) :
    for j in range(i, n-1) :
        print(" "*len('Vish'), end = ' ')
    for j in range(i+1) :
        print("Vish", end = ' ')
    for j in range(i) :
        print('Vish',end  = " ")
    print('\n')

          Vish

     Vish Vish Vish

Vish Vish Vish Vish Vish

In [18]:
list(range(0))

[]

In [20]:
t = (3,23,45,67,2,3,5,6)
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [21]:
for i in range(len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 3
6 5
7 6

In [22]:
s = 'Maharashtra'
range(len(s))

range(0, 11)

In [31]:
for i in range(len(s)-1,-1,-1) : 
    print(i , s[i])

10 a
9 r
8 t
7 h
6 s
5 a
4 r
3 a
2 h
1 a
0 M

In [33]:
d = {'k1':'Vish','k2':'Stats','k3':'Python'}
for i in d.items() :
    print(i,type(i),type(i[1]))

('k1', 'Vish') <class 'tuple'> <class 'str'>
('k2', 'Stats') <class 'tuple'> <class 'str'>
('k3', 'Python') <class 'tuple'> <class 'str'>

In [35]:
l = ["vish",'Stats',9850,'vishalpawar@gmail.com',258,1098]

In [36]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)
print(l1)

[9850, 258, 1098]

In [37]:
d = {1:240,'Name':"Vish",'email_id':'vp@gmail.com',23:450, 120:345}

In [38]:
for i in d :
    print(i)

1
Name
email_id
23
120

In [43]:
for i in d :
    if type(i) == int :
        print(i,' :', d[i])

1  : 240
23  : 450
120  : 345

In [49]:
s = 'aaaabbccdaabb'
set(s)

{'a', 'b', 'c', 'd'}

In [50]:
s.count('a')

6

In [51]:
for i in set(s) :
    print(i, ' : ' , s.count(i))

b  :  4
d  :  1
a  :  6
c  :  2

In [52]:
i = 3453465464435

In [57]:
for j in str(i) :
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [67]:
t = ('Vish','Pawar',[1,2,3,4,5],(3,4,5,6),{3:3,'k2':'Pawar'})

In [69]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items() :
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [70]:
d

{1: 240, 'Name': 'Vish', 'email_id': 'vp@gmail.com', 23: 450, 120: 345}

In [73]:
for i,j in d.items() :
    print(i)

1
Name
email_id
23
120

In [1]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("Ineauron", end = ' ')
    print()

Ineauron
Ineauron Ineauron
Ineauron Ineauron Ineauron
Ineauron Ineauron Ineauron Ineauron

In [31]:
n = 4
for i in range(4) :
    for j in range(i,n-1) :
        print(" "*len('INEAURON'), end = ' ')
    for j in range(i-1) :
        print("INEAURON", end = ' ')
    for j in range(i) :
        print('INEAURON', end = ' ')
    print()

                  INEAURON
         INEAURON INEAURON INEAURON
INEAURON INEAURON INEAURON INEAURON INEAURON

In [1]:
n = 9
for i in range(6) :
    for j in range(0,i+1) :
        print("*", end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *