## Functions

In [1]:
# Defining a function
def test() :
    print('First function created.')

In [2]:
# calling a function
test()

First function created.

In [3]:
# 
test()+"vish"

First function created.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [4]:
type(test())

First function created.

NoneType

In [5]:
# typecasting will also unable to work.
str(test())+' Vish'

First function created.

'None Vish'

In [6]:
def test1() :
    return "First function created"
test1()

'First function created'

In [7]:
type(test1())

str

In [8]:
test1() + " By Vishal"

'First function created By Vishal'

In [9]:
# Body of the function is not created then it will throw an error
def test2() :
    pass 
# to avoid errors

In [10]:
def test3() :
    return 1,3,5,[1,23,4,5,6]
test3()
#a = test3()
a,b,c,d = test3()

In [11]:
#a
#b
#c
d

[1, 23, 4, 5, 6]

In [12]:
def test4() :
    a = 4*5
    b = 6+6
    return a, b
(mul,add) = test4()

In [13]:
mul

20

In [14]:
add

12

In [15]:
# "_" work as a placeholder
_,add = test4()

In [16]:
_
#add

20

In [17]:
_,_,_,l = test3()

In [18]:
l

[1, 23, 4, 5, 6]

In [19]:
a = 1
b = 10
while a <= b :
    print(a, end = '  ')
    a=a+1
else :
    print("Else block")

1  2  3  4  5  6  7  8  9  10  Else block

In [20]:
def test5() :
    
    while a <= b :
        print(a, end = '  ')
        a=a+1
    else :
        print("Else block")

In [21]:
test5()

UnboundLocalError: local variable 'a' referenced before assignment

In [22]:
def test5(a,b) :
    l = []
    
    while a <= b :
        #print(a)
        l.append(a)
        a=a+1
    else :
        print( "else block" )
        
    return l
    
        
        
test5(3,15)

else block

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [23]:

test5(1,10)

else block

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
type(test5(1,10))

else block

list

In [25]:
l = [4,5,6,67,7,8,9,8,9,9,[3,4,5,6,7],'Vish']

In [26]:
l1 = []
for i in l :
    if type(i) == list :
        l1.append(i)

l1

[[3, 4, 5, 6, 7]]

In [27]:
def test7() :
    l1 = []
    for i in l :
        if type(i) == int :
            l1.append(i)
    return l1

In [28]:
test7()

[4, 5, 6, 67, 7, 8, 9, 8, 9, 9]

In [29]:
l3 = [123,12,30,43,432,'Vishal',(1,2,3)]

In [30]:
def test7(l) :
    l1 = []
    for i in l :
        if type(i) == int :
            l1.append(i)
    return l1

In [31]:
test7(l3)

[123, 12, 30, 43, 432]

In [32]:
t = (3,4,2,5,6,7,8,9)
a = -1 
while a >= -len(t) :
    if t[a] == 5 or t[a] == 6 :
        print('Index of',t[a],'is : ', a)
    a = a-1

Index of 6 is :  -4
Index of 5 is :  -5

In [33]:
def test8(t) :
    a = -1 
    while a >= -len(t) :
        if t[a] == 5 or t[a] == 6 :
            print('Index of',t[a],'is : ', a)
        a = a-1
test8(t)

Index of 6 is :  -4
Index of 5 is :  -5

In [34]:
test8((2,3,4,5,6,7,5,7,8))

Index of 5 is :  -3
Index of 6 is :  -5
Index of 5 is :  -6

In [35]:
def add(a,b) :
    '''This is my function for addition or concatination '''
    return a+b

In [36]:
add(10,12)

22

In [37]:
add('Vishal ','Pawar')

'Vishal Pawar'

In [38]:
add(a = 9,b = 8)

17

In [39]:
add(b = 22,a=5)

27

In [40]:
print("Hello :)")

Hello :)

In [41]:
def check(a,b,c,d,e):
    return a,b,c,d,e

In [42]:
check(3,4,5,6)

TypeError: check() missing 1 required positional argument: 'e'

In [43]:
def test(*a) :
    return a

In [44]:
test("Vishal",12,23,4,5,53,2,34,'pawar')

('Vishal', 12, 23, 4, 5, 53, 2, 34, 'pawar')

In [45]:
test([12,12,32],1,1,23,4,5,5)

([12, 12, 32], 1, 1, 23, 4, 5, 5)

In [46]:
def test1(*a) :
    l = []
    for i in a :
        l.append(i)
    return l
test1(1,2,34,5,6,7,8,9,8,98,'Vish Pawar')

[1, 2, 34, 5, 6, 7, 8, 9, 8, 98, 'Vish Pawar']

In [47]:
def show(*a,b,c,d,e) :
    return *a,b,c,d,e
show(1,2,3,4,5,6,7,8,8,b=21,c=32,d=12,e=18)

(1, 2, 3, 4, 5, 6, 7, 8, 8, 21, 32, 12, 18)

In [48]:
def show1(a,b,c,d,e,*m) :
    return a,b,c,d,e,*m
show1(1,2,3,4,5,10,21,29,30)

(1, 2, 3, 4, 5, 10, 21, 29, 30)

In [57]:
# to give key value type of input we use "**" in function.
def test8(**vish) :
    return vish
# test8(4,5,6,7)
test8(a=4,b=5,c=6,d=8,e=[1,23,4,5])

{'a': 4, 'b': 5, 'c': 6, 'd': 8, 'e': [1, 23, 4, 5]}

In [54]:
d = {'b':4,'c':5,'d':6,'e':7}

In [55]:
test8(d)

KeyError: -1

In [63]:
def test9(*m,**s) :
    return m,s
test9(1,2,34,5,6,6,78,b=10,c='Vish',d=23,e='Vi12',f1=2)

((1, 2, 34, 5, 6, 6, 78),
 {'b': 10, 'c': 'Vish', 'd': 23, 'e': 'Vi12', 'f1': 2})

In [68]:
def mul(*m) :
    n=1
    for i in m :
        if type(i) ==int:
            n = n*i
    return n
mul(2,1,3,6,16,'Vish')

576

In [70]:
def add(*m) :
    n=0
    for i in m :
        if type(i) ==int:
            n = n+i
    return n
add(2,1,3,6,16,5,20,10,34,'Vish')

97

## lambda functions

In [72]:
n = lambda a,b : a+b
n

In [73]:
n(10,21)

31

In [74]:
def test(a,b) :
    return a+b
test(1,2)

3

In [75]:
n('VISH ','Pawar')

'VISH Pawar'

In [79]:
n = lambda a,b : a*b
n(7,7)

49

In [80]:
b = lambda *vish : vish
b(21,23,4,5,6,7,8,89)

(21, 23, 4, 5, 6, 7, 8, 89)

#### Comprehension operations

In [83]:
t = (3,4,5,6,7,88,9,'v')
l = []
for i in t:
    l.append(i)
l

[3, 4, 5, 6, 7, 88, 9, 'v']

In [84]:
[i for i in t]

[3, 4, 5, 6, 7, 88, 9, 'v']

In [85]:
s = 'VISHALPAWAR'
[i for i in s]

['V', 'I', 'S', 'H', 'A', 'L', 'P', 'A', 'W', 'A', 'R']

In [88]:
#square of numbers range(12)
[i*i for i in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [90]:
l= []

for i in range(12) :
    l.append(i*i)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [92]:
l = lambda *x : [i*i for i in x]
l(1,2,3,4,5,65,6,4,3,22,1)

[1, 4, 9, 16, 25, 4225, 36, 16, 9, 484, 1]

In [5]:
def test_1(**m) :
    count = 0
    for i in m.values() :
        if type(i) == str :
            count+=1
           
        if type(i) == list :
            for v in i :
                if type(v) == str :
                    count+=1
 
    return count

test_1(a=7,b='vish',c = 'vish',d = 10, l=[2,3,4,12,4,'vish'])

3

In [2]:
def func(**m) :
    count = 0 
    for i in m.values() :
        if type(i) == list :
            for ele in i :
                if type(ele) == str :
                    count += 1
    return count
func(a=7,b='vish',c = 'vish',d = 10, l=[2,3,4,12,4,'vish'])

1

In [97]:
def test_2(**m) :
    return list(m.values())
test_2(a=7,b='vish',l=[2,3,4,12,4,'vish'])

[7, 'vish', [2, 3, 4, 12, 4, 'vish']]

Today's task
1. Try to print a prime number in between 1 to 1000
2. Try to write a function which is eqvivalent to print function in python
3. Try to write a function which is a replica of list append
4. Try to write a lambda function which can return a concatination of all the strings that will pass.
5. Try to write 10 different examples of lambda functions 
6. Try to write a task which can perform a read operation from .txt file.
7. Try to write a lambda function which can return list of squares of all the data between 1 -100

In [126]:
# 7. Try to write a lambda function which can return list of squares of all the data between 1 -100
l = lambda *x : [i*i for i in range(1,100,10)]
res = l(l)
 
print(res)

[1, 121, 441, 961, 1681, 2601, 3721, 5041, 6561, 8281]

In [113]:
l = []
for i in range(1,100,9) :
    l.append(i*i)
l

[1, 100, 361, 784, 1369, 2116, 3025, 4096, 5329, 6724, 8281]

In [107]:
[i*i for i in range(1,100,10)]

[1, 121, 441, 961, 1681, 2601, 3721, 5041, 6561, 8281]

In [127]:
def test(**m,*s) :
    pass

SyntaxError: invalid syntax (Temp/ipykernel_11184/3359066254.py, line 1)

In [10]:
s = 'Vishal'
s[0::-1]
s[0::-1]
# what is by defualt upper bound here. Why it should gives answer as 'V' only.

'V'

In [7]:
s[0:len(s):-1]

''

In [8]:
s[0:len(s)]

'Vishal'

In [12]:
s = 'AKSHAY'
s[0::-1]

'A'

In [13]:
s[0:-7:-1]

'A'

In [16]:
def concat(*m) :
    l = []
    for i in m:
            if type(i) == str :
                l.append(i)
                a = "".join(l)
    return a
concat(1,23,4,'Vish ',[1,23,4,4],'Pawar')

'Vish Pawar'

In [18]:
e = lambda a,b : a+b
e('Vishal ','Pawar')

'Vishal Pawar'

In [28]:
# concatination of a string using lambda function by passing an argument of different types.
l_concat = lambda *m :" ".join([i for i in m if type(i) == str])
l_concat(1,2,3,4,'Vish','Sanay','Pawar')

'Vish Sanay Pawar'

Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
Exception in callback BaseSelectorEventLoop._read_from_self()
handle: <Handle BaseSelectorEventLoop._read_from_self()>
Traceback (most recent call last):
  File "C:\Users\svish\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\svish\anaconda3\lib\asyncio\selector_events.py", line 120, in _read_from_self
    data = self._ssock.recv(4096)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

In [20]:
m = [1,2,3,4,'Vish','Sanay','Pawar',12,20,'from Ahmednagr',(1,23,3)]

In [22]:
" $ ".join([i for i in m if type(i)==str ])

'Vish $ Sanay $ Pawar $ from Ahmednagr'

In [24]:
m = lambda *x : [i*i for i in x if type(i) == int]
m(1,2,3,4,'Vish',(1,23,4),{20,20,20,12,23},{'k1':123,'k2':"vish",12:23})

[1, 4, 9, 16]