## LIST

In [1]:
# defining a list
l = [98,50,57,48,36, 'Vishal', 52.32,True]

In [2]:
# list slicing 
#l[0]
#l[-1]
l[0:4]

[98, 50, 57, 48]

In [3]:
# In slicing operations the upper bound is excluded, 
#it will gives the values till the index = upper bound -1
l[0:5]

[98, 50, 57, 48, 36]

In [4]:
#To reverse the list without using reverse function
l[::-1]

[True, 52.32, 'Vishal', 36, 48, 57, 50, 98]

In [5]:
# in case of slicing operation if the upper bound index is not avilable even though it works.
# If upper bound is greater than the total length of list then it will print the whole list itself.
l[0:25]

[98, 50, 57, 48, 36, 'Vishal', 52.32, True]

In [6]:
# In case of indexing if index value is greater than the length of list, it will give an error
l[25]

IndexError: list index out of range

Syntax: Lst[Initial : End : IndexJump ] If Lst is a list, then the above expression returns the portion of the list from index Initial to index End, at a step size IndexJump. Indexing. 1. Positive Indexes if the step size is not mentioned.

In [7]:
# for below slicing operation the step size is 2
l[0:25:2]

[98, 57, 36, 52.32]

In [8]:
# movement from 0 to 8 is in positive direction, while step is in the negative direction
# it is a contradiction
l[0:8:-1]

[]

In [9]:
l[:3]

[98, 50, 57]

In [10]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32, True]

In [11]:
# To concatinate both the datatypes should be same, unless it will throw an error.
l+['VIP']

[98, 50, 57, 48, 36, 'Vishal', 52.32, True, 'VIP']

In [12]:
l*2

[98,
 50,
 57,
 48,
 36,
 'Vishal',
 52.32,
 True,
 98,
 50,
 57,
 48,
 36,
 'Vishal',
 52.32,
 True]

In [14]:
# item in list, will check whether it is present in the list of not. if yes it returns true and if not then it returns false
51 in l

False

In [14]:
50 in l

True

In [15]:
# Max or Min will work with the list, if list is of numbers only. 
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
l1 = [20,30,40,55,92,15.36]

In [17]:
# max function will give the maximum value present in the list
max(l1)

92

In [18]:
# min function will gives the minimum value present in the list
min(l1)

15.36

In [19]:
l2 = ['Vishal','Pawar', 'Trivium']

In [20]:
# in case of string object it will return maximum value which has maximum ascii value. 
# String character with maximum ascii value will be considered as the maximum.
max(l2)

'Vishal'

In [21]:
min(l2)

'Pawar'

### Functions of list

In [22]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32, True]

In [23]:
# append function will append the item pass to the existing list.
l.append('Sanjay')

In [24]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32, True, 'Sanjay']

In [25]:
l.append([1,2,3,4])

In [26]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32, True, 'Sanjay', [1, 2, 3, 4]]

In [27]:
# list.pop(), it removes value of the index number passed to it.
l.pop(0)

98

In [20]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32, True]

In [21]:
# if index number is not pass to the function, it will removes the default last index value
l.pop()

True

In [22]:
l

[98, 50, 57, 48, 36, 'Vishal', 52.32]

In [23]:
l2 = ['Vishal','Pawar', 'Trivium']
l2.pop()

'Trivium'

In [24]:
# To reverse the list permanently
l.reverse()

In [25]:
l

[52.32, 'Vishal', 36, 48, 57, 50, 98]

In [26]:
# To reverse the list in run time
l[::-1]

[98, 50, 57, 48, 36, 'Vishal', 52.32]

In [30]:
# To reverse list permanently without using the function reverse, 
l = l[::-1]
l

[98, 50, 57, 48, 36, 'Vishal', 52.32]

In [28]:
l.reverse()

In [36]:
l

[50, 57, 48, 36, 'Vishal', 52.32, True, 'Sanjay']

###### Sort function will sort the list in ascending order by default with the exception that if A list which has both integers and string, the function sort will give an error.  Also if list has only string then also it will be able to sort the list.

In [37]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
l1.sort()
l1

[15.36, 20, 30, 40, 55, 92]

In [39]:
l2.sort()
l2

['Pawar', 'Vishal']

In [40]:
l3 = [8,91,50,34,2,0,10]

In [41]:
l3.sort(reverse = True)
l3

[91, 50, 34, 10, 8, 2, 0]

In [42]:
l1 = [10,20,30]
l2 = [60,70,80]
l3 = [30,20,40]

In [43]:
l4 = [l1,l2,l3]

In [44]:
l4

[[10, 20, 30], [60, 70, 80], [30, 20, 40]]

In [45]:
l4[2]

[30, 20, 40]

In [46]:
# slicing last element of l3 
l4[2][2]

40

In [47]:
# slicing last element of 2nd list
l4[1][2]

80

In [48]:
l

[36, 48, 50, 57, 'Vishal', 52.32, True, 'Sanjay']

In [49]:
#l.count(36)
#l.count("Sanjay")
l.count('sanjay')

0

In [32]:
l5 = [1,2,4]

In [33]:
l5.append(45)

In [34]:
l5.append([5,6,7])

In [35]:
l5.append('Vishal')

In [36]:
l5

[1, 2, 4, 45, [5, 6, 7], 'Vishal']

The list.extend method extends a list by appending elements from an iterable: So with extend, each element of the iterable gets appended onto the list. For example: Keep in mind that a string is an iterable, so if you extend a list with a string, you'll append each character as you iterate over the string

In [37]:
l.extend(54)

TypeError: 'int' object is not iterable

In [38]:
l5.extend('Pawar')

In [39]:
l5

[1, 2, 4, 45, [5, 6, 7], 'Vishal', 'P', 'a', 'w', 'a', 'r']

In [ ]:
l5.extend()

In [41]:
l5.extend([10,20])
l5

[1, 2, 4, 45, [5, 6, 7], 'Vishal', 'P', 'a', 'w', 'a', 'r', 10, 20, 10, 20]

In [59]:
l

[36, 48, 50, 57, 'Vishal', 52.32, True, 'Sanjay']

### Append the list passed to it as it is
### Extend will break the list and string append the elements to last of list

In [60]:
l.index(36)

0

In [61]:
l.index('Vishal')

4

In [62]:
l5.index(10)

11

In [63]:
l = [1,2,3,4,5,6]

In [64]:
# list.append() will insert the data at the last index of the list
l.append(10)

In [65]:
# list.insert() will insert the data whereever you want to insert.
l.insert(1,"Vishal")

In [66]:
l

[1, 'Vishal', 2, 3, 4, 5, 6, 10]

In [67]:
l.insert(3,[10,20,25])

In [68]:
l

[1, 'Vishal', 2, [10, 20, 25], 3, 4, 5, 6, 10]

In [69]:
# list.pop() -performed operation based on indexes
l.pop()

10

In [70]:
# list.remove() - performed operation based on values
l.remove([10,20,25])

In [71]:
l

[1, 'Vishal', 2, 3, 4, 5, 6]

In [72]:
# item re- assignment operation
l = [1,2,3,4]
l[2] = "Vish"

In [73]:
l

[1, 2, 'Vish', 4]

In [74]:
s = 'Mahhrashtra'
s[2]

'h'

In [75]:
# string - does not supports item re-assignment.
s[3]='a'

TypeError: 'str' object does not support item assignment

#### Mutable: Where you can do item assignment, it is known as mutable
#### immutable : Where item assignment is not supported, it is known as immutable

In [76]:
l = [10,20,(5,7,8),'Vishal',{'1':'V','2':'P','a':25},{20,20,25,20,30},20.3]

In [77]:
l[4]

{'1': 'V', '2': 'P', 'a': 25}

In [78]:
l[-2]

{20, 25, 30}

In [79]:
l[3]

'Vishal'

In [80]:
l[2]

(5, 7, 8)

In [81]:
l = ['Vishal',98,50,57,[10,20,30,'S'],True,"PAWAR"]

In [82]:
for i in l:
    print(i)

Vishal
98
50
57
[10, 20, 30, 'S']
True
PAWAR

In [85]:
for i in l:
    if type(i) == list:
        print("This is a list inside a list",i)
    else:
        print('The element is not a list',i)

The element is not a list Vishal
The element is not a list 98
The element is not a list 50
The element is not a list 57
This is a list inside a list [10, 20, 30, 'S']
The element is not a list True
The element is not a list PAWAR

In [86]:
l

['Vishal', 98, 50, 57, [10, 20, 30, 'S'], True, 'PAWAR']

In [87]:
l1 =['Tech','ML']

In [88]:
l+l1

['Vishal', 98, 50, 57, [10, 20, 30, 'S'], True, 'PAWAR', 'Tech', 'ML']

In [89]:
len(l)

7

In [91]:
max(l1)

'Tech'

In [93]:
98 in l

True

In [94]:
# insert object before the index position
l.insert(-1,'NLP')

In [95]:
l

['Vishal', 98, 50, 57, [10, 20, 30, 'S'], True, 'NLP', 'PAWAR']

In [96]:
# extend always expects iterable object
#l.extend(30)
l.extend('VIP')

In [97]:
l

['Vishal', 98, 50, 57, [10, 20, 30, 'S'], True, 'NLP', 'PAWAR', 'V', 'I', 'P']

In [98]:
# entire list can be extended as list is iterable
l.extend([1,2,3])

In [99]:
l

['Vishal',
 98,
 50,
 57,
 [10, 20, 30, 'S'],
 True,
 'NLP',
 'PAWAR',
 'V',
 'I',
 'P',
 1,
 2,
 3]

In [101]:
# List of only numbers (either float or integers) only can be sorted
l = [98,50,58,48,36]
l.sort()
l

[36, 48, 50, 58, 98]

#### Concatination of lists

In [1]:
founders=["Iron Man", "Thor", "Ant-Man", "Hulk", "Wasp"]
recruits=["Captain America", "Hawkeye"]
founders + recruits

['Iron Man', 'Thor', 'Ant-Man', 'Hulk', 'Wasp', 'Captain America', 'Hawkeye']

#### Repetition

In [2]:
dna=["A", "G","T","C"]
dna * 3

['A', 'G', 'T', 'C', 'A', 'G', 'T', 'C', 'A', 'G', 'T', 'C']

#### In membership // Not in membership

In [3]:
avengers=["Iron Man", "Thor", "Ant-Man", "Hulk", "Wasp", "Captain America", "Hawkeye"]
>>> "Wasp" in avengers

True

In [4]:
"Black Widow" in avengers

False

In [5]:
"Wasp" not in avengers

False

In [6]:
"Black Widow" not in avengers

True

In [7]:
[1,2]+[4]

[1, 2, 4]

In [8]:
[1,2]*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [9]:
(1,2)*4

(1, 2, 1, 2, 1, 2, 1, 2)

In [10]:
l1 = ['Python','Java','C++']

In [13]:
l1.insert(len(l1),'SQL')
l1

['Python', 'Java', 'C++', 'SQL', 'SQL']