## Tuples

In [1]:
t = (2,4,"Vish",[1,5],10.2,True)

In [2]:
type(t)

tuple

In [3]:
t[0]

2

In [6]:
#t[0:4]
#t[-2]
t[0:5:1]

(2, 4, 'Vish', [1, 5], 10.2)

In [7]:
t[0:4:-1]

()

In [8]:
t[::-1]

(True, 10.2, [1, 5], 'Vish', 4, 2)

In [10]:
# Item assignment operations are not allowed with tuple. " Tuples are immutable "
t[1]='Vis'

TypeError: 'tuple' object does not support item assignment

In [11]:
l = [1,2,3,4]
l[2]='vish'
l

[1, 2, 'vish', 4]

In [12]:
t1 = (10,20,30)
t+t1

(2, 4, 'Vish', [1, 5], 10.2, True, 10, 20, 30)

In [14]:
# t.count will show how many times a value appears in the tuple
t.count('Vish')

1

In [15]:
# t.index will gives the index/position of the value pass to it.
t.index('Vish')

2

In [16]:
t = (2,19,26,'Vishal')

In [19]:
t2 = list(t)
t2

[2, 19, 26, 'Vishal']

In [20]:
l = ['V',2,4,5]

In [22]:
t2 = tuple(l)
t2

('V', 2, 4, 5)

In [23]:
d = {}

In [24]:
type(d)

dict

In [25]:
d = { }

In [26]:
type(d)

dict

In [27]:
d = {1}
type(d)

set

When a sequence is not enclosed in any brackets, it is interpreted as tuple in python

In [1]:
Italian = 12,12,13,45,67,7,78,'Vishal'

In [2]:
Italian

(12, 12, 13, 45, 67, 7, 78, 'Vishal')

#### Concatination

In [4]:
stark=("Ned", "Catelyn", "Brandon", "Sansa", "Arya", "Robb")
mormont=("Jeor", "Maege", "Jorah", "Lyanna")
print(stark + mormont, end = ' ')

('Ned', 'Catelyn', 'Brandon', 'Sansa', 'Arya', 'Robb', 'Jeor', 'Maege', 'Jorah', 'Lyanna')

#### Repetition

In [5]:
glucose=("C6", "H12", "O6")
>>> glucose*2

('C6', 'H12', 'O6', 'C6', 'H12', 'O6')

#### In membership // Not in membership

In [11]:
got=("Ned", "Catelyn", "Brandon", "Sansa", "Arya", "Robb", "Jeor", "Maege", "Jorah", "Lyanna")
"Arya" in got

True

In [12]:
"Jon" in got

False

In [13]:
"Arya" not in got

False

In [14]:
"Jon" not in got

True

In [15]:
tuple('1,2')

('1', ',', '2')

In [16]:
tuple((1,2))

(1, 2)

In [17]:
tuple(1,2)

TypeError: tuple expected at most 1 argument, got 2

In [18]:
tuple([1,2])

(1, 2)