## String

In [2]:
s = 'HelloWorld'

In [3]:
type(s)

str

### Slicing

In [4]:
s[:5]

'Hello'

In [5]:
s[6]

'o'

In [6]:
s[5]

'W'

In [7]:
s[-1]

'd'

In [8]:
s[4]

'o'

In [9]:
s[2:]

'lloWorld'

In [10]:
s[5:]

'World'

In [11]:
s1 = "This is my very first python class's'"

In [12]:
# reverse string
s1[::-1]

"'s'ssalc nohtyp tsrif yrev ym si sihT"

In [13]:
s1[4]

' '

In [14]:
s1[6]

's'

In [15]:
s1[1:5]

'his '

In [16]:
# s1[Start:End:Step]
s1[5:30:2]

'i yvr is yhnc'

In [17]:
s2='VishalPawar'

In [18]:
s2[0:len(s2):3]

'VhPa'

In [19]:
# moves in a positive direction and jumps in a negative direction, it's a contradiction.
# Because of contadiction cannot access any kind of dataset
s2[0:9:-1]

''

In [20]:
# Moving and jumping in a same direction, so no contradiction
s2[10::-1]

'rawaPlahsiV'

In [21]:
s2[10:0:-1]

'rawaPlahsi'

In [22]:
# Starting from the 0th index excluding last 3 characters as after colon (:) backword indexing
s2[:-3]

'VishalPa'

In [23]:
# If not mentioned, then the jump will going to be 1 always
s2[-2:]

'ar'

In [24]:
# If an upper bound is not mentioned, consdered as string length + 1 automatically by the system
s2[::1]

'VishalPawar'

In [25]:
# Upper bound of above string length doesn't affect the end point of the string.
s2[0:100:1]

'VishalPawar'

In [26]:
# If step is negative and start and end is not given, it will reverse the whole string and print it.
s2[::-1]

'rawaPlahsiV'

In [27]:
s2

'VishalPawar'

In [28]:
s2[10:0:-1]

'rawaPlahsi'

In [29]:
s2[10::-1]

'rawaPlahsiV'

In [30]:
# movement - negative, jump - positive , complete contradiction,giving output as blank
s2[-2:-7:1]

''

In [31]:
s2[-7:-2:1]

'alPaw'

In [32]:
# Backword moment but jump is forworded, so gives output as blank
s2[5:0]

''

In [33]:
s2[5:0:-1]

'lahsi'

In [34]:
s2[-7:0:-1]

'ahsi'

In [35]:
s2[-7:0:1]

''

In [36]:
# no lower bound, upper bound as -1 and step -1 forms contradiction
s2[:-1:-1]

''

In [37]:
s2+1

TypeError: can only concatenate str (not "int") to str

In [38]:
# you cannot add a string and a integer, to add you need to do the typecasting.
# writing 1 in a string format '1' will add as it behaves like a string.
s2+'1'

'VishalPawar1'

In [39]:
s2+str(1)

'VishalPawar1'

In [40]:
# length of a string : len(variable name)
len(s2)

11

In [41]:
# multiplication with string, 
# If a string is multiplied by n number, the sting will be repeated by n number of times.
s2*2

'VishalPawarVishalPawar'

In [42]:
# function 'count' will counts number of times substrings appears in the string.
s2.count('a')

3

In [43]:
s2

'VishalPawar'

In [44]:
# Return a list of the words in the string, using sep as the delimiter (you can choose the delimeter)
s2.split('a')

['Vish', 'lP', 'w', 'r']

In [49]:
# If seperator is not passed then it will return entire string as one item of a list.
l = s2.split()
#l[0]
#l[0][6]
l[0][0::6]

'VP'

In [42]:
sw = " The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group. "

SyntaxError: EOL while scanning string literal (Temp/ipykernel_5804/404260889.py, line 1)

In [43]:
# In case of multiline string you have inclose your data in tipple coat (""" """)
sw1 = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group. """

In [44]:
sw1

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group. "

In [45]:
sw1.split(" ")

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.',
 '']

In [46]:
sw1

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group. "

In [47]:
# To convert entire sting into upper case 
sw1.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP. "

In [48]:
# To capitalize each first word of every sentence
sw1.capitalize()

"The samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group. "

In [49]:
# To write entire string into a lower case
sw1.lower()

"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group. "

In [50]:
sw = sw1.upper()

In [51]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP. "

In [50]:
str = 'vishal sanjay pawar'

In [51]:
# Return the string where each word is titlecased ( capitalize ).
#words start with uppercased characters and all remaining cased characters have lower case
str.title()

'Vishal Sanjay Pawar'

In [52]:
# returns the string where first word is capitalize instead of entire string.
str.capitalize()

'Vishal sanjay pawar'

In [53]:
# Convert uppercase characters to lowercase and lowercase characters to uppercase.
str.swapcase()

'VISHAL SANJAY PAWAR'

In [54]:
s.swapcase()

'hELLOwORLD'

In [57]:
s = "  Vishal  "

In [58]:
# removes the space before and after the string
s.strip()

'Vishal'

In [59]:
# space between the string "vis  hal" will not be removed 
s = "  Vis  hal  "

In [60]:
s.strip()

'Vis  hal'

In [61]:
s.lstrip()

'Vis  hal  '

In [62]:
s.rstrip()

'  Vis  hal'

In [63]:
"  " .join("Vishal")

'V  i  s  h  a  l'

In [64]:
" # ".join('Vishal')

'V # i # s # h # a # l'

In [65]:
"#".join('Vishal')

'V#i#s#h#a#l'

In [66]:
s='vishal'

In [67]:
s.center(20,'#')

'#######vishal#######'

In [68]:
s = 'Maharashtra'

In [69]:
s.isupper()

False

In [70]:
s.islower()

False

In [58]:
s = 'Radhika'
# s=' radhika'

In [59]:
s.islower()

False

In [60]:
s.isspace()

False

In [78]:
# The function "is space " returns True only if string is empty with space in it.
s = "    "

In [79]:
s.isspace()

True

In [80]:
s = "Radhika"

In [81]:
s.isdigit()

False

In [84]:
s = '9850'

In [85]:
s.isdigit()

True

In [86]:
s = ' Vishal_123'

In [87]:
s.isdigit()

False

In [88]:
s = 'Radhika'

In [89]:
s.isalnum()

True

In [90]:
s.isalpha()

True

In [93]:
s

'9850'

In [94]:
s='Radhika'

In [95]:
s.startswith('a')

False

In [97]:
# pythan is a case sensetive language.
s.startswith('r')

False

In [98]:
s.startswith('R')

True

In [99]:
# s.endswith('r')
s.endswith('a')

True

In [100]:
#s.startswith("")
#s.startswith('')
s.startswith(" ")

False

In [101]:
s.isascii()

True

In [102]:
s = 'Vishal123 '

In [103]:
s.isalnum()

False

In [104]:
s = 'vishal123'

In [105]:
s.isalnum()

True

In [106]:
# To use "str.isspace()" function the string should be empty
s = ' '
s.isspace()

True

In [108]:
s = '  5  '
s.center(30,'@')

'@@@@@@@@@@@@  5  @@@@@@@@@@@@@'

In [110]:
# To use str.isalnum(), it uses or condition. It returns True if anyone of alphabet or numeric values are present.
# Sting should be free from space
s = '9850'
s.isalnum()

True

In [112]:
# To reverse the string
" ".join(reversed('Radhika'))

'a k i h d a R'

In [113]:
# string of floating point will show as False for str.isdigit() and str.isnumeric()
s='123.34'
s.isdigit()

False

In [114]:
s.isnumeric()

False

In [115]:
s = 'vishal\tsanjay\tpawar'

In [117]:
s.expandtabs().upper()

'VISHAL  SANJAY  PAWAR'

 #### Formatting in Strings

In [1]:
print("The letter that comes after d is %c"%('e',))

The letter that comes after d is e

In [2]:
balltype = 'Basketball'
result ='hit'

In [9]:
print('I wondered why the %s was getting bigger. Than it %s me.'%('Basketball','hit'))

I wondered why the Basketball was getting bigger. Than it hit me.

In [10]:
print('I wondered why the %s was getting bigger. Than it %s me.'%(balltype,result))

I wondered why the Basketball was getting bigger. Than it hit me.

In [11]:
print("%20s"%('InternShala',))

         InternShala

In [12]:
print("%-20s"%('InternShala',))

InternShala

In [13]:
print("%.5s"%('InternShala',))

Inter

Integer

In [14]:
match = 12553
site = 'eBay'
print("%s is so useless. I tried to look up lighters and all the had was %d mathces."%(site,match))

eBay is so useless. I tried to look up lighters and all the had was 12553 mathces.

In [15]:
print("%s is so useless. I tried to look up lighters and all the had was %i mathces."%(site,match))

eBay is so useless. I tried to look up lighters and all the had was 12553 mathces.

octal integer

In [16]:
print("83 is represented in ocatal as %o"%(0o123,))

83 is represented in ocatal as 123

Hexadecimal integer

In [17]:
print("83 is represented in ocatal as %x"%(0x53,))

83 is represented in ocatal as 53

In [22]:
name = "Malhar"
age = 24
percentage = 72.2
"My name is {} and my age is {} years".format(name, age)

'My name is Malhar and my age is 24 years'

In [25]:
"My name is {:s}, age {:d} and I have scored {:.2f} percent marks".format(name,age, percentage)

'My name is Malhar, age 24 and I have scored 72.20 percent marks'

#### find()

find(): This method finds the first occurrence of a substring in another string. If not found, the method returns -1.

In [ ]:
var = 'python training from internshala'
var.find("in")

In [27]:
var.find('on')

4

In [28]:
var.find('run')

-1

The substring 'in' first occurs at the 10th position (count starts from 0), 'on' is found at the 4th position, but 'run' is not found hence returns -1.

#### Index()

This method is similar to find() but throws a ValueError if the substring is not found.

In [29]:
var.index('in')

10

In [30]:
var.index('run')

ValueError: substring not found

In [31]:
'0x12'.isdigit()

False

In [32]:
'12.0'.isdigit()

False

In [33]:
'012'.isdigit()

True